<template>
    <div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores dicta reprehenderit tempora atque sit illo provident distinctio perspiciatis qui. Cumque hic consequatur dolore omnis veritatis ratione labore debitis nulla doloribus?
    </div>
</template>
