<template>
  <div id="app" v-bind:class="$route.name ? $route.name : ''">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/sobre">Sobre</router-link>
    </div>
    <main>
      <router-view/>
    </main>
    <div class="mask-bg">
      <img src="@/assets/img/bg.svg" alt="">
    </div>
  </div>
</template>

<script>
  export default {
    data: function() {
      return {
        page: 'Home'
      }
    },
    mounted () {
      let routerPage = this.$router.options.base
      console.log(this.$route.name)
      if(routerPage !== '/') {
        console.log(routerPage)
      }
    }
  }
</script>


<style lang="scss">
body {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
.mask-bg {
    position: fixed;
    left: 60vw;
    top: -50px;
    min-height: 100vh;
    display: block;
    overflow: hidden;
    transition: all 600ms ease;
  img {
      height: 120vh;
      display: block;
    }
}

#app {
  &.home .mask-bg {
    animation: Home 700ms ease forwards;
  }
  &.sobre .mask-bg {
    animation: PageInterna 800ms ease forwards;
  }
}

@keyframes Home {
  0% {
    left: 160vw;
  }

  100% {
    left: 65vw;
  }
}

@keyframes PageInterna {
  0% {
    left: 165vw;
  }

  100% {
    transform: rotate(115deg);
    left: 65vw;
  }
}
</style>
